splunktaucclib
splunk-sdk
solnlib

# Airbyte CDK declarative runtime deps (pure Python only)
pydantic<2
typing-extensions
requests
urllib3
certifi
idna
charset-normalizer
Jinja2
MarkupSafe
PyYAML
dpath
backoff
cachetools
isodate
python-dateutil
pytz
pyrate-limiter>=3.1.1,<4.0
jsonref
requests-cache
jsonschema==4.17.3
pyrsistent
xmltodict
attrs
airbyte-protocol-models-dataclasses
